page-categorias {
    ion-label {
        white-space: normal;
      }
  
      .categorias {
        flex-wrap: wrap;
        h2 {
            margin-top: -12px;
            font-size: 2.7rem;
            color: rgba(66, 66, 66, 0.87);
            font-weight: 500;
        }
        img {
          height: 180px;
          width: 100%;
          position: relative;
          z-index: -111;
        }
        .texto-sobre-img {
            color: map-get($colors,light );
            font-size: 1.2em;
            padding: 5px;
            background-color:map-get($colors,primary );
           
            position: relative;
            width: 100%;
            margin: -3% 0 0 0;
            text-align: center;
    
        }
      }
    
}
